section {
    float: left;
    width: 70%;
}
aside {
    float: right;
    width: 30%;
}

.chatTA {
    width: 100%;
    height: 300px;
    border: 0px;
    padding: 0px;
}

.chatDiv {
}

.msgTA{
    width: 80%;
}


.chatWindow{
    padding: 5px;
    background:#000;
}